body {
  background-color: rgba(102, 39, 160, 0.89);
  font-size: 16px;
}

.time {
	background-color: #1E1E1E;
	height: 40px;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.time p {
	color: #FFEB3B;
  font-size: 1.2em;
  padding-top: 6px;
}