body {
  background-color: #61CFFE;
  font-size: 16px;
  color: #FFFFFF;
}

#main-wrapper{
  background-color: #61CFFE;
  height: 100vh;
}

#main-wrapper h1, h3{
  color: #FFFFFF;
  text-align: center;
  font-weight: 200;
}

/* Navbar */
.main-container h1 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}
